{% set pagetitle = 'SimpleSAMLphp Monitoring'|trans %}
{% extends "base.twig" %}

{% block preload %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/monitor.css', 'monitor') }}">
{% endblock %}

{% block content %}
    <table class="pure-table pure-table-bordered pure-table-attributes">
        <thead>
            <tr>
                <th colspan="4">Required modules</th>
            </tr>
            <tr>
                <th class="state">State</th>
                <th class="category">Category</th>
                <th class="subject">Subject</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
{% for key, check in modules %}
{% set health = check.state %}
            <tr>
                <td class="health-{{ healthInfo[health][1] }}">{{ healthInfo[health][0] }}</td>
                <td>{{ check.category }}</td>
                <td>{{ check.subject }}</td>
                <td>{{ check.message }}</td>
            </tr>
{% endfor %}
        </tbody>
    </table>

    <br />

    <table class="pure-table pure-table-bordered pure-table-attributes">
        <thead>
            <tr>
                <th colspan="4">Global configuration</th>
            </tr>
            <tr>
                <th class="state">State</th>
                <th class="category">Category</th>
                <th class="subject">Subject</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
{% for key, check in configuration %}
{% set health = check.state %}
            <tr>
                <td class="health-{{ healthInfo[health][1] }}">{{ healthInfo[health][0] }}</td>
                <td>{{ check.category }}</td>
                <td>{{ check.subject }}</td>
                <td>{{ check.message }}</td>
            </tr>
{% endfor %}
        </tbody>
    </table>

    <br />

    <table class="pure-table pure-table-bordered pure-table-attributes">
        <thead>
            <tr>
                <th colspan="4">Session store</th>
            </tr>
            <tr>
                <th class="state">State</th>
                <th class="category">Category</th>
                <th class="subject">Subject</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
{% for key, check in store %}
{% set health = check.state %}
            <tr>
                <td class="health-{{ healthInfo[health][1] }}">{{ healthInfo[health][0] }}</td>
                <td>{{ check.category }}</td>
                <td>{{ check.subject }}</td>
                <td>{{ check.message }}</td>
            </tr>
{% endfor %}
        </tbody>
    </table>

    <br />

{% for name, authsource in authsources %}
    <table class="pure-table pure-table-bordered pure-table-attributes">
        <thead>
            <tr>
                <th colspan="4">Authsource '{{ name }}'</th>
            </tr>
{% if loop.index == 1 %}
            <tr>
                <th class="state">State</th>
                <th class="category">Category</th>
                <th class="subject">Subject</th>
                <th>Summary</th>
            </tr>
{% endif %}
        </thead>
        <tbody>
{% for key, check in authsource %}
{% set health = check.state %}
            <tr>
                <td class="state health-{{ healthInfo[health][1] }}">{{ healthInfo[health][0] }}</td>
                <td class="category">{{ check.category }}</td>
                <td class="subject">{{ check.subject }}</td>
                <td>{{ check.message }}</td>
            </tr>
{% endfor %}
        </tbody>
    </table>
{% endfor %}

    <br />

{% for entityid, entity in metadata %}
    <table class="pure-table pure-table-bordered pure-table-attributes">
        <thead>
            <tr>
                <th colspan="4">Metadata Endpoint - {{ entityid }}</th>
            </tr>
{% if loop.index == 1 %}
            <tr>
                <th class="state">State</th>
                <th class="category">Category</th>
                <th class="subject">Subject</th>
                <th>Summary</th>
            </tr>
{% endif %}
        </thead>
        <tbody>
{% for entityid, check in entity %}
{% set health = check.state %}
            <tr>
                <td class="state health-{{ healthInfo[health][1] }}">{{ healthInfo[health][0] }}</td>
                <td class="category">{{ check.category }}</td>
                <td class="subject">{{ check.subject }}</td>
                <td>{{ check.message }}</td>
            </tr>
{% endfor %}
        </tbody>
    </table>
{% endfor %}

    <br />
    <span>Overall status: <span class="health-{{ healthInfo[overall][1] }}">{{ healthInfo[overall][0] }}</span></span>
{% endblock %}
